// Colors (partial)

// General text
$txt-primary: #3D4351;

// body font
$txt-secondary: #3D4351;

// heading font
$txt-light: #3D4351;

// header/hero
$txt-accent: #ACB1B4;

// form placeholder text
$form-placeholder: #BCC1C3;

// Global
$accent-color: #4A5042;

// global accent hover
$accent-color-hover: #373b31;

// global accent hover
$white-color: #fff;
$black-color: #000;

// Typography
$h1-color: #3D4351;
$h2-color: #3D4351;
$h3-color: #3D4351;
$h4-color: #3D4351;
$h5-color: #3D4351;
$p-color: #3D4351;

// Layout
$section-light: #fff;
$section-dark: #f8f9fd;
$to-top-bg: #495061;
$footer-primary: #3D4351;
$footer-secondary: #373D4A;

// Keylines
$keyline-color: #E6E9EA;
$footer-keyline-color: #4E566C;